numpy # fundamental package for scientific computing
pandas # working with structured and tabular data
matplotlib # producing plots and other 2D data visualizations

scipy # scientific computing and technical computing
statsmodels # statistical modeling and econometrics

scikit-learn # general-purpose machine learning library
fastai # high-level deep learning library built on PyTorch
torch # deep learning framework
torchvision # computer vision library for PyTorch

ipython # interactive computing
ipykernel # IPython kernel for Jupyter

seaborn
jupyter #
transformers
jupytext
nbdime
xgboost
graphviz
ddgs
voila
gradio
sentencepiece
